# # Node
# node_modules
# npm-debug.log
# yarn-error.log
# pnpm-debug.log

# # Builds
# # dist
# coverage

# # Source control
# .git
# .gitignore

# # Docker junk
# Dockerfile*
# docker-compose*
# .dockerignore

# # Tests
# test
# tests
# __tests__
# *.spec.ts
# *.e2e-spec.ts
# vitest.config.*
# jest.config.*

# # Environment
# .env
# .env.*

# # logs
# logs
# *.log

# # OS
# Thumbs.db

# # IDE
# .vscode
# .idea
# *.swp
# *.swo

# # temporary files
# tmp
# temp


