PORT=4000
PROD_PORT=8081
DB_PORT=5432
DB_HOST=postgres
HOST_DEV=localhost
NODE_ENV=development

POSTGRES_GROUP_NAME=node-db
POSTGRES_USER=admin
POSTGRES_PASSWORD=123
POSTGRES_DB=library

DOCKER_USERNAME=ansiv
DOCKER_IMAGE_NAME=myapp
DOCKER_TAG=dev

# JWT Tokens
JWT_ACCESS_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIyN2ZjM2RkMi0zOTFmLTRmNGMtOGVlZC01MmQyMTI5NTQxYWYiLCJsb2dpbiI6IlRFU1RfQVVUSF9MT0dJTiIsImlhdCI6MTc2NTQ3OTEyMCwiZXhwIjoxNzY1NDgwMDIwfQ.dUULzuBTuOCenvzTUFIXwu62jkyRkAMa9CzKbhcsfiQ
JWT_REFRESH_SECRET=0a4e905722e8b38560e34e7880bf452657c5b89c120b19c4152d42d6ad65038f2a928cc6805531d56148b30bb3ce79111e27d1827a92442b9c8df1596f4ce7b8
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

LOG_LEVEL=info
LOG_FILE_PATH=logs/app.log
LOG_CONSOLE=true
LOG_MAX_FILE_SIZE_KB=1024
LOG_MAX_BACKUP_FILES=5
