PORT=4000
PROD_PORT=8081
DB_PORT=5432
DB_HOST=postgres
HOST_DEV=localhost
NODE_ENV=development

POSTGRES_GROUP_NAME=node-db
POSTGRES_USER=admin
POSTGRES_PASSWORD=123
POSTGRES_DB=library

DOCKER_USERNAME=ansiv
DOCKER_IMAGE_NAME=myapp
DOCKER_TAG=dev
